'.text.html.ssi':

  'SSI: Include File':
    'prefix': 'infile'
    'body': """
      <!--# include file="${1: file}" -->
    """

  'SSI: Include Virtual File':
    'prefix': 'invirt'
    'body': """
      <!--# include virtual="${1:file}" set="${2:set}" stub="${2:stub}" wait="${2:wait}"  -->
    """

  'SSI: Set Variable':
    'prefix': 'set'
    'body': """
      <!--# set var="${1:variable}" value="${2:value}" -->
    """

  'SSI: Echo Variable':
    'prefix': 'echo'
    'body': """
      <!--# echo var="${1:variable}" default="no ${1:variable} found" encoding="entity" -->
    """
